/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEFAULT */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* GENERICHE SPAZIO*/
.container {
  width: 80%;
}

.container_center {
  margin: 0 auto;
}

.w_100 {
  width: 100%;
}

.w_60 {
  width: 60%;
}

.w_30 {
  width: 30%;
}

.w_50 {
  width: 50%;
}

.w_25 {
  min-height: 70px;
  width: 25%;
}

.boxed {
  border: 1px solid lightgrey;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}

.box_image {
  height: 15vh;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.dx {
  right :0;
}

.left {
  float: left;
}

.middle {
  margin: 20px 5% 0;
}

.light_background {
  background-color: rgb(222, 230, 232);
}

/* formattazione testo */
.light_font {
  font-size: 0.8em;
}

.bigger_font {
  font-size: 3.5em;
}

.big_font {
  font-size: 2.5em;
}

.centered {
  text-align: center;
}

.capitalized {
  text-transform: capitalize;
}

.uppered {
  text-transform: uppercase;
}

.double {
  line-height: 2em;
}

.space {
  margin: 20px 0;
}

.space_bottom {
  margin-bottom: 20px;
}

.inline_list {
  display: inline;
  list-style: none;
  padding-right: 15px;
}


/* GESTIONE btn */
.btn_small {
  border-radius: 10px;
  padding: 8px 10px;
  text-decoration: none;
}

.btn_big {
  border-radius: 5px;
  padding: 15px 25px;
  text-decoration: none;
  line-height: 44px;
}

.white {
  background-color: white;
  border: 1px solid rgb(217, 87, 31);
  color: rgb(217, 87, 31);
}

.orange {
  background-color: rgb(217, 87, 31);
  color: white;
}

.btn_small:hover,
.btn_big:hover {
  box-shadow: 2px 2px 1px grey;
}

/* HEADER */
header nav {
  line-height: 60px;
}
.fix {
  z-index: 999;
  position: fixed;
}

.fissa {
  height: 60px;
  width: 100%;
  top: 0;
  border-bottom: 1px solid grey;
}

.first {
height: 60px;
margin-top: 60px;
}
.first img {
  width: 100%;
  margin-top: 15px;
}
.first i {
  margin-left: 10px;
}

header nav ul li {
  display: inline;
  list-style: none;
  padding: 0 15px;
}

header li a {
  text-decoration: none;
  color: black;
}

.jumbotron {
  height: 80vh;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: #fef4ef;
}
.jumbotron .container.rel .abs {
  width: 50%;
  top: 10vh;
}
.green_bar {
  position: absolute;
  bottom: 0;
  height: 13vh;
  width: 100%;
  background-color: rgb(124, 210, 200);
  border-top: 2px solid rgb(60, 60, 60);
  border-bottom: 2px solid rgb(60, 60, 60);
}

/* MAIN */
main .boxed.w_100 {
  padding: 30px 10px;
}

.half_hr {
  margin: 0 0 5px 30px;
  display: inline-block;
  width: 50%;
}

main .boxed img {
  width: 100%;
  margin-bottom: 15px;
}

main .w_60 i {
  color: rgb(217, 87, 31);
  padding-right: 15px;
  margin: 15px 0;
}

main p {
  margin: 15px 0;
}

main .w_30 h2 {
  margin-bottom: 20px;
}

.bar::after {
  content: "__________________";
}

main .w_30 ul {
  margin-top: 20px;
}
main .w_30 li {
  list-style: none;
  text-align: left;
}

.light_background .boxed {
  margin-bottom: 5%;
}

.boxed.w_30 i {
  margin-right: 10px;
  color: rgb(217, 87, 31);
}

#gradient {
  padding: 40px 0;
  background-image: linear-gradient(to right,rgb(80, 172, 164),rgb(47, 198, 180));
  color: white;
}

.logo_tab {
  margin-bottom: 10px;
}

#gradient>.container>p {
  margin: 40px 0;
}

#gradient .w_25 {
  padding: 20px;
}

#gradient .row:first-child {
  border-bottom: 1px solid white;
}

#gradient .w_25:nth-child(1n+2) {
  border-left: 1px solid white;
}

.table {
  margin-bottom: 50px;
}

.partners .w_30 {
  margin: 20px 0;
  padding: 0 8%;
}

.partners .w_60 {
  /* margin: 20px auto; */
  vertical-align: middle;
}

.partners .logo_tab {
  width: 80%;
  max-height: 50px;
  vertical-align: middle;
}

.partners .table {
  margin-top: 60px;
}
.partners .table .row .logo_tab {
  /* vertical-align: middle; */

  position: absolute;
  transform: translateY(-50%);
}

.start a {
  margin: 200px 0;
}

.doppio_margine {
  margin: 20px 0;
  padding-right: 50px;
}

.w_50 p {
  margin: 40px 0;
}

/* FOOTER */

footer {
  background-color: rgb(41, 64, 64);
  color: lightgrey;
}

footer li {
  list-style: none;
}

footer .btn_small {
  line-height: 4em;
  background-color: lightgrey;
  color: rgb(41, 64, 64);
}

footer li i {
  margin-right: 20px;
}

footer nav ul li:first-child {
  line-height: 4em;
  color: white;
  font-weight: 600;
}

footer .w_25 {
  margin-bottom: 60px;
}

footer .language a {
  color: lightgrey;
  text-decoration: none;
}

footer hr {
  margin: 20px 0;
}

.copyright {
  margin-bottom: 20px;
  line-height: 2em;
  color: white;
}

footer .abs a {
  margin-left: 15px;
  color: lightgrey;
  text-decoration: none;
}

/* BOTTONE TORNA SU */
.up {
  right: 2.5%;
  bottom: 1px;
  /* width: 5%;
  height: 50px; */
  /* background-color: rgb(184, 184, 184);
  border-radius: 50%;
  line-height: 30px; */
}
.up a {
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(116, 116, 116);
  color: white;
  text-decoration: none;
}
.up a:hover {
  background-color: rgba(116, 116, 116, 0.5);
  box-shadow: rgba(221, 106, 42, 0.39) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.8) 0px 18px 36px -18px inset;
}
